<?xml version="1.0"?>
<ruleset name="Nonfiction Theme">
  <description>Nonfiction Theme PHP coding standard.</description>

  <file>src</file>
  <arg name="extensions" value="php"/>
  <arg name="warning-severity" value="0"/>

  <rule ref="PSR12">
    <exclude name="PSR1.Methods.CamelCapsMethodName"/>
    <exclude name="PSR2.ControlStructures.SwitchDeclaration"/>
    <exclude name="PSR2.Methods.FunctionCallSignature"/>
    <exclude name="PSR2.Methods.FunctionClosingBrace"/>
    <exclude name="PSR12.Classes.ClosingBrace"/>
    <exclude name="Squiz.WhiteSpace.SuperfluousWhitespace"/>
  </rule>

  <rule ref="Generic.WhiteSpace.ScopeIndent">
    <properties>
      <property name="indent" value="2"/>
      <property name="tabIndent" value="false"/>
    </properties>
  </rule>

  <rule ref="Generic.Arrays.ArrayIndent">
    <properties>
      <property name="indent" value="2"/>
    </properties>
  </rule>

  <rule ref="PSR2.Classes.ClassDeclaration">
    <properties>
      <property name="indent" value="2"/>
    </properties>
  </rule>

  <rule ref="PSR2.ControlStructures.SwitchDeclaration">
    <properties>
      <property name="indent" value="2"/>
    </properties>
  </rule>

  <rule ref="PSR12.ControlStructures.ControlStructureSpacing">
    <properties>
      <property name="indent" value="2"/>
    </properties>
  </rule>
</ruleset>
